.logo {
    border: 1px solid;
    background-color: black;
    min-width: 2139px;
}
.food {
    border: 1px solid;
    width: 2139px;
    padding: 43px;
    margin-top: 40px;
    background-color: darkslategray; 
}
#ul {
    list-style-type: none;
    display: inline-block;
}
.row-food {
    display: inline-block;
    list-style-type: none;
}
.col-food {
    display: inline-block;
}
#ft:hover {
    color: deeppink;   
}
#ft {
    text-decoration-line: none;
}    
.form-control {
    border: 1px solid;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    margin: 20px;
    display: flex;
    border-radius: 12px;
}
.form-control::after {
    color: black;
}
#btn:hover {
    color: black;
    
} 
.form {
   margin-left: 20px;
   padding: 30px;
   background-color:  
   margin-right: 1px;
}
body {
    background-color:  lightcoral;
}
#btn {
    border: 1px solid;
    background-color: dodgerblue;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 12px;
}
#ft {
    text-decoration-line: none;
}
#submit {
    
    text-decoration-line: none;
}
#submit:hover {
    color: black;
}
#home {
    text-decoration-line: none;
}
#home:hover {
    color:  deeppink;
}
table {
    border: 1px solid;
}
.tab-roll {
    border: 1px solid;
    padding-left: 10px;
    border-radius: 12px;
}
.tab-data {
    border: 1px solid;
    padding-left: px;
    border-radius: 12px;
}
.tab-head1 {
    border: 1px solid;
    padding-left: 20px;
}
.tab-head2 {
    border: 1px solid;
    padding-left: 20px;
    
}
.tab-head3 {
    border: 1px solid;
    padding-left: 20px;
   
}
.tab-head4 {
    border: 1px solid;
    padding-left: 20px;
   
}
.tab-head5 {
    border: 1px solid;
    padding-left: 20px;
    
    
}
.tab-head6 {
    border: 1px solid;
    padding-left: 20px;
    
    
}
.text {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border: 1px solid
}
#sel {
    display: inline-block;
}

.acct {
    margin-top: 30px;
    margin-left: 15px;
    width: 300px;
    text-decoration: none;
}
#text {
    margin-top: 10px;
    padding-top: px;
    width: 300px;
    border: 1px solid black;
    border-radius: 12px;
}
#text:hover {
    color: black;
}
.order {
    border: 1px solid black;
    padding: 2px;
    margin-top: 4px;
    margin-left: 0%;
    background-color: white;
    border-radius: 12px;
}
#mg {
    padding-left: 20px;
    width: 300px;
}
@media (min-width: 768px) {
    .acct {
        margin-top: 30px;
        margin-left: 15px;
        width: 700px;
        text-decoration: none;
    }
    #ul {
        list-style-type: none;
        display: flex;
    }
    .row-food {
        display: flex;
        list-style-type: none;
    }
    .col-food {
        display: flex;
    }
    .food {
        border: 1px solid;
        width: 2139px;
        padding: 43px;
        margin-top: 40px;
        background-color: darkslategray; 
    }
}
