.logo {
    border: 1px solid;
    padding: 40px;
    min-width: 350px;
    background-color: black;
}
.food {
    border: 1px solid;
    min-width: 350px;
    padding: 43px;
    margin-top: 40px;
    background-color: darkslategray;
}
#ul {
    list-style-type: none;
    display: inline-block;
}
.row-food {
    display: inline-block;
    list-style-type: none;
}
.col-food {
    display: inline-block;
}
#ft:hover {
    color: deeppink;
    
}
#ft {
    text-decoration-line: none;
}
#submit {
    text-decoration-line: none;
}
#home {
    text-decoration-line: none;
}
#home:hover {
    color:  deeppink;;
}
.section {
    margin-left: 20px;
    padding-top: 30px;
    margin-top: 35px;
    width: 280px;
}
#ff {
    text-decoration-line: none; 
}
#steps {
    display: flex;
    margin-left:  10px;
    margin-top: 30px;
    padding-right: 20px;
}
.follow {
    display: inline-block;
    width: 300px;
}
body {
    background-color:  lightcoral;
}
#mg {
    width: 200px;
}
@media (min-width: 768px) {
    .follow {
        display: flex;
        width: 760px;
    }
    .section {
        margin-left: 20px;
        padding-top: 30px;
        margin-top: 35px;
        width: 700px;
    }
}
